<ion-header [translucent]="true">

</ion-header>

<ion-content [fullscreen]="true" class="fundo">
  <ion-grid>
    <div class="login">
  <h1>Registrar</h1>
  <ion-item color="light">
  <ion-input placeholder="Nome"></ion-input>
  </ion-item>
  <br><br>
  <ion-item color="light">
  <ion-input placeholder="CPF"></ion-input>
  </ion-item>
    <br><br>
  <ion-item color="light">
  <ion-input placeholder="E-mail"></ion-input>
  </ion-item>
  <br><br>
  <ion-item color="light">
  <ion-input type="password" placeholder="Senha"></ion-input>
  </ion-item>
  <br><br>
  <ion-button fill="outline" >Criar</ion-button>

  <ion-back-button fill="outline" slot="start" default-href="#">
  </ion-back-button>

</div>

</ion-grid>
</ion-content>
