<ion-header [translucent]="true">

</ion-header>

<ion-content [fullscreen]="true" class="fundo">
  <ion-grid>
    <div class="login">
  <h1>Registrar produtos</h1>
  <br>
  <ion-item color="light">
  <ion-input placeholder="Nome do produto"></ion-input>
  </ion-item>
  <br>
  <ion-item color="light">
  <ion-input placeholder="Descrição"></ion-input>
  </ion-item>
    <br>
  <ion-item color="light">
  <ion-input placeholder="Validade"></ion-input>
  <ion-input type="date"></ion-input>
  </ion-item>
  <br>
  <ion-item color="light">
  <ion-input placeholder="Preço"></ion-input>
  </ion-item>
  <br>
  <ion-button fill="outline" >Registrar</ion-button>
  <br>

  <ion-button fill="outline" routerLink="/inicio">
    <ion-icon name="play-back-outline"></ion-icon>
  </ion-button>

</div>

</ion-grid>
</ion-content>

