
<ion-content [fullscreen]="true" class="fundo">
  <ion-grid>
    <div class="login">
      <h1>Login</h1>

      <br>

      <ion-item color="light">
        <ion-label position="stacked">E-mail</ion-label>
        <ion-input placeholder="insira seu E-mail"></ion-input>
      </ion-item>

      <br>

      <ion-item color="light">
        <ion-label position="stacked">Senha</ion-label>
        <ion-input type="password" placeholder="insira a sua senha"></ion-input>
      </ion-item>

      <br>

      <ion-button fill="outline">Entrar</ion-button>
      <br>
      <ion-button fill="outline">Esqueceu a senha ?</ion-button>
      <br>
      <ion-button fill="outline" routerLink="/registros">Registrar-se</ion-button>
      <br>
        <ion-button fill="outline" routerLink="/inicio">
          <ion-icon name="play-back-outline"></ion-icon>
        </ion-button>
    </div>
  </ion-grid>
</ion-content>
