<ion-header>

</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <div class="login">
      <h1>Login</h1>
      <ion-item color="light">
        <ion-input placeholder="E-mail"></ion-input>
      </ion-item>
      <br><br>
      <ion-item color="light">
        <ion-input type="password" placeholder="Senha"></ion-input>
      </ion-item>
      <br><br>
      <ion-button fill="outline">Entrar</ion-button>
      <br>
      <ion-button fill="outline">Esqueceu a senha ?</ion-button>
      <br>
        <ion-back-button fill="outline" slot="start" default-href="#">
        </ion-back-button>
    </div>
  </ion-grid>
</ion-content>
