<ion-header [translucent]="true">

</ion-header>

<ion-content [fullscreen]="true" >
<div class="login">
  <h1>Registrar</h1>
  <ion-item>
  <ion-input placeholder="Nome"></ion-input>
  </ion-item>
  <br><br>
  <ion-item>
  <ion-input placeholder="CPF"></ion-input>
  </ion-item>
    <br><br>  <ion-item>
  <ion-input placeholder="E-mail"></ion-input>
  </ion-item>
  <br><br>
  <ion-item>
  <ion-input type="password" placeholder="Senha"></ion-input>
  </ion-item>
  <br><br>
  <ion-button>Criar</ion-button>

  <ion-button>Voltar</ion-button>
</div>
</ion-content>
